
.dash { 
	color: #111;
	zoom: 1;
	filter: 
		progid:DXImageTransform.Microsoft.Shadow(color=#999999,direction=0,strength=1)
		progid:DXImageTransform.Microsoft.Shadow(color=#999999,direction=90,strength=1)
		progid:DXImageTransform.Microsoft.Shadow(color=#999999,direction=180,strength=1)
		progid:DXImageTransform.Microsoft.Shadow(color=#999999,direction=270,strength=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(color=#999999,direction=0,strength=1), progid:DXImageTransform.Microsoft.Shadow(color=#999999,direction=90,strength=1), progid:DXImageTransform.Microsoft.Shadow(color=#999999,direction=180,strength=1), progid:DXImageTransform.Microsoft.Shadow(color=#999999,direction=270,strength=1)";
}